<h1> The best consoles you will ever see </h1>

<div class="container mt-3">
  <h1>Latest listings</h1>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-3">
        <div class="card">
          <img src="https://www.target.com.au/medias/static_content/product/images/full/67/85/A1566785.jpg?impolicy=product_portrait_hero" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p><%= listing.description %></p>
            <%# TODO: Change path to listing show page %>
            <%= link_to "More info", user_session_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
