<div class="container mt-3">
  <h1>Latest listings</h1>
  <div class="row gy-4">
    <% @listings.each do |listing| %>
      <div class="col-3">
        <div class="card">
          <%= cl_image_tag listing.photos[0].key, class: "card-img-top" %>
          <%# <img src="https://www.target.com.au/medias/static_content/product/images/full/67/85/A1566785.jpg?impolicy=product_portrait_hero" class="card-img-top"> %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <%= link_to "More info", listing_path(listing), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
