<div class="container col-lg-3 mt-3">
  <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit %>
  <% end %>
</div>
