<div class="container mt-3">
  <h1>Latest listings</h1>
  <div class="row gy-4">
    <% @listings.each do |listing| %>
      <div class="col-3">
        <div class="card">
          <% if listing.photos.any? %>
            <%= cl_image_tag listing.photos.first.key, class: "card-img-top" %>
          <% else %>
            <%# Put a default here %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <% if false %>
            <%# if listing.availability %>
              <%# link_to "More info", listing_path(listing), class: "btn btn-primary" %>
            <% else %>
              <%# <p class="text-align-center" style="color: white; background: red">Currently unavailable.</p> %>
            <% end %>
              <%= link_to "More info", listing_path(listing), class: "btn btn-primary" %>        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
