<div class="banner">
      <div class="text-white">
        <h1>Gaming Zone🎮</h1>
        <h5>Get gaming today</h5>
        <div class="container">
      <div class="center">
        <%= link_to "Game away", listings_path(@listing), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
